@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.printfont1 {
  font-family: "Libertinus", sans-serif;
}
.printfont2 {
  font-family: "Libertinus", sans-serif;
  font-weight: bold;
}
.printfont3 {
  font-family: "Libertinus", sans-serif;
}
.printfont4 {
  font-family: "Libertinus", sans-serif;
  font-weight: bold;
}


.my-big-fig {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 0;
  margin: 0;
  padding: 0;
  gap: 0;
}

.my-big-fig * {
  min-width: 0;
  margin: 0;
}
